<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/web_ca</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password"></property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
      <mapping class="za.co.tera.Data_Access.impl.CoordinateDAO"/>
      <mapping class="za.co.tera.Data_Access.impl.RuleDAO"/>
      <mapping class="za.co.tera.Data_Access.impl.RuleconditionDAO"/>
      <mapping class="za.co.tera.Data_Access.impl.RuleconditionneighboursDAO"/>
      <mapping class="za.co.tera.Data_Access.impl.RuleresultDAO"/>
      <mapping class="za.co.tera.Data_Access.impl.RuleresultneighboursDAO"/>
      <mapping class="za.co.tera.Data_Access.impl.StateDAO"/>
      <mapping class="za.co.tera.Data_Access.impl.UserDAO"/>
      <mapping class="za.co.tera.Data_Access.impl.WorldDAO"/>
      <mapping class="za.co.tera.Data_Access.impl.WorldrulesDAO"/>

      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>