<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password"></property>
      <mapping class="za.co.tera.web_ca.domain.layer.impl.Condition"/>
      <mapping class="za.co.tera.web_ca.domain.layer.impl.Conditiontype"/>
      <mapping class="za.co.tera.web_ca.domain.layer.impl.Coordinate"/>
      <mapping class="za.co.tera.web_ca.domain.layer.impl.Direction"/>
      <mapping class="za.co.tera.web_ca.domain.layer.impl.Rule"/>
      <mapping class="za.co.tera.web_ca.domain.layer.impl.Rulecurrentstate"/>
      <mapping class="za.co.tera.web_ca.domain.layer.impl.Rulenextstate"/>
      <mapping class="za.co.tera.web_ca.domain.layer.impl.State"/>
      <mapping class="za.co.tera.web_ca.domain.layer.impl.User"/>
      <mapping class="za.co.tera.web_ca.domain.layer.impl.World"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>